@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

/** Shared styles */
.df{
    display: flex;
}
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.orange{
    color: #FF900E;
}
.bg-primary{
    background-color: #FF900E;
    color: white;
}
.bg-secondary{
    background-color: rgba(255, 144, 14, 0.10);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    border: none;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
}

.section-title{
    font-size: 2.85rem;
    font-weight: 700;
    margin-bottom: 30px;
}
/** header styles */
/** nav styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-left: 20px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.20rem;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/** banner styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
}
.banner-title{
    font-weight: 700px;
    font-size: 3.5rem;
    /* padding-top: 100px; */
}
.banner-image{
    width: 100%;
}

/** main styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}

/** Team and feature styles */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-img-container>img{
    width: 100%;
}
.feature-title{
    font-size: 2.85rem;
    font-weight: 700;
    margin-bottom: 30px;
}
#ql{
    font-weight: 500;
}
.team-features{
    margin-left: 120px;
    max-width: 540px;
}
.feature-description{
    margin-bottom: 20px;
}

/* features you will enjoy */
.fywe{
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 140px;
}
#fywe-section-title{
    border-left: 8px solid #FF900E;
    padding-left: 15px;
}

.fywe-card{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 25px;
    margin: 20px auto;
    border-radius: 8px;
}

.fywe-card h3{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 15px 0px;
}

.architect > img{
    width: 100%;
    /* filter: grayscale(100%); */
}

.architect button{
    padding: 45px 42px;
    margin-left: -100px;
    margin-top: -100px;
}

#ten{
    font-size: 4rem;
    font-weight: 700;
}
#nine{
    font-size: 1.55rem;
    font-weight: 500;
}
/* some fact styles */
.fact-description{
    max-width: 540px;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    justify-items: center;
    margin: 20px;
}
.fact{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
}

/* sponsor styles */
.sponsor-info{
    max-width: 540px;
    margin: 40px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 60px auto;
    justify-items: center;
    filter: grayscale(100%);
}

footer{
    text-align: center;
    padding: 40px;
    margin: 50px;
}

/** Responsive media query */
/* Small device */
@media screen and (max-width: 576px){
    html{
        font-size: 10px;
    }
    main > section{
        margin-top: 70px;
    }
    .navbar, 
    .nav-links, 
    .teams{
        flex-direction: column;
    }
    .team-img-container,
    .fywe,
    .fact-container,
    .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .team-features{
        margin: 30px;
    }
    .architect button{
        margin-left: 0px;
    }
    .fact-container{
        margin-bottom: 10px;
    }
    .sponsor-companies{
        gap: 50px;
    }
}


/* Medium device */
@media screen and (min-width: 576px) and (max-width: 992px){
    .teams{
        flex-direction: column;
    }
    .team-features{
        margin: 40px auto;
    }
    .fact-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .fywe{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .architect button{
        margin-left: 0px;
    }
    .sponsor-companies{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
}